.container {
  display: block;
  margin: 0 auto;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 200px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  max-width: 2600px;
  max-height: 3500px;
}
.card {
  border-color: #86c8fa;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-card {
  max-width: 750px;
}