.submit-button {
  background-color: #86c8fa;
  border: #86c8fa;
  color: white;
  margin-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}